@{
    ViewData["Title"] = "Produtos";
    var products = ViewBag.products;
}
<div class="row">
    <div class="col-12">
        <a type="button" asp-action="NewProduct" asp-controller="Product" class="btn btn-primary float-right">Novo produto</a>
    </div>
</div>
<br />
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Código de barras</th>
            <th scope="col">Produto</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>

        @{
            foreach (var product in products)
            {
                <tr>
                    <td scope="row">@product.Id</td>
                    <td width="50%">@product.Barcode</td>
                    <td width="40%">@product.Product_title</td>
                    <td>
                        <div class="d-flex">
                            <a href="Product/Editar/@product.Id"><i class="bi-pencil" alt="Editar" style="padding-right:10px;"></i></a>
                            <a href="Product/Excluir/@product.Id"><i class="bi-x-circle" alt="Excluir"></i></a>
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>